
*{
   
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}
body{
   font-size:.979rem;
}
  nav{
    background-color: whitesmoke;
    width:100%;
    
    
   
    
  }
  nav .logo{
      color:black;
      line-height: 3rem;
      font-size:2.5rem;
      font-weight:bold;
      margin:6rem;
      padding:.2rem;
     
      
      
  }
  .clr{
    clear:right;
  }
  nav .logo:hover{
    color:whitesmoke;
    background-color:orange;
    font-weight: bold;
    transition:2s;
   
    border-radius:.5rem;
  }
  nav ul{
    float:right;
   margin-right:1rem;
   height:1.5rem;
   
  }
  nav ul li{
    display:inline-block;
    margin-right:1rem;
    
   
  }
  nav ul li a{
    color:black;
    margin:.5rem;
    padding:.2rem;
    text-transform: uppercase;
    font-size:1rem;
  }
  nav ul li a:hover{
    background-color: orange;
    border-radius: 1rem;
    transition:1s;
    color:whitesmoke;
 
  
  }
  .checkbtn{
    font-size:1rem;
    color:black;
   margin-right:82.rem;
   float:right;
   cursor:pointer;
   display:none;
    
  }
#check{
display:none;
}
@media ( max-width:952px){
label.logo{
    font-size:1.5rem;
    padding-left:.5rem;
}
.checkbtn{
    display:none;
    }
nav ul li a{
    font-size: .7rem;
}
}
@media (max-width:1100px){
nav ul li a{
    font-size:.8rem;
   
}
.checkbtn{
 display:none;
 }}
@media (max-width:904px){
nav ul li a{
    font-size:.7rem;
   
}
.checkbtn{
    display:none;
    }}
    @media (max-width:914px){
        nav ul li a{
            font-size:.7rem;
           
        }
        .checkbtn{
            display:none;
            }}
@media (max-width:858px){
.checkbtn{
    display:block;
    font-size: 2.5rem;
    color :black;
    margin-top:.3rem;
    margin-right: 2rem;

}
label.logo{
    font-size:2.2rem;
    padding-left:.5rem;
}
ul{
    position:fixed;
    width:100%;
    height:1rem;

    top:5rem;
    left:0%;
    text-align:left;
    transition:all .4s;
}
body{
    background-color:skyblue;
}
nav ul li{
    display:block;
 
   
}
nav ul li a{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1.3rem;
    margin:5rem;
    color:white;
    line-height:3rem;
}
a:hover,a.active{
    background:none;
    color:red;
}
nav ul li a:hover{
    color:skyblue;
}
#check:checked ~ ul{
 display:none;
}
}

